.form {
    padding: 30px;
}

.form .title {
    text-align: center;
    font-size: 25px;
    color: #EF7247;
}

.form .field {
    display: grid;
    margin-top: 10px;
    font-weight: bold;
}

.input-padron {
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 1px 4px 10px dimgray;
    padding: 4px;
}

.form .button {
    margin-top: 15px;
    text-align: center;
}

.form .button .enviar {
    padding: 1rem 2rem;
    background-color: #48A3A6;
    border-radius: 5px;
    color: white;
}